.headline1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight: bold;
}

.headline2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight: bold;
}

.headline3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight: bold;
	line-height: 17px;
}

.headline4
{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 18px;
	font-weight: bold;
	line-height: 19px;
}

.headline5
{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 24px;
	font-weight: bold;	
	line-height: 25px;
}

.headline6
{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 30px;
	font-weight: bold;
	line-height: 31px;
}

.headline7
{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 36px;
	font-weight: bold;
	line-height: 37px;
}

.helpheader4
{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 18px;
	font-weight: bold;
	color: #FFFFFF;
}

.calendarheader1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}